@model ZHYR_Library.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var message = (ZHYR_Library.ViewModels.MessageVm)TempData["Message"];
}

<h2>@ViewBag.Title.</h2>
@if (message.Message != "")
{
   
    <div class="alert @message.CssClassName alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@message.Title</strong>
        @message.Message
    </div>
}

<div>
    <h4>Change your account settings</h4>
    <hr />
    <table class="table table-responsive table-hover" >
        <thead>
            <tr>
                <th>Password</th>
                <th>External Logins</th>
                <th>Phone Number</th>
                <th>Two-Factor Authentication</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.HasPassword)
                       {
                        @Html.ActionLink("Change your password", "ChangePassword", new { }, new { @class ="btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword", new { }, new { @class = "btn btn-primary" })
                    }
                </td>
                <td>
                   
                    @Html.ActionLink("Manage  ( " + @Model.Logins.Count + " )", "ManageLogins", new { }, new { @class = "btn btn-info" }) 
                </td>
                <td>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        @Html.ActionLink("Change", "AddPhoneNumber", new { }, new { @class = "btn btn-success" })
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                      <input type="submit" value="Remove" class="btn btn-danger" />
                        }
                    }
                    else
                    {
                       @Html.ActionLink("Add", "AddPhoneNumber", new { }, new {@class="btn btn-success" })
                    }
                </td>

                <td>
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
            </td>

        </tr>
    </tbody>

</table>
@*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@

   
        @*<p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
       
</div>
