@model ZHYR_Library.Models.Data.books
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.book_name + " details ";
}
<div class="card pdf">
    <div class="card-header">
        <div class="header-content">
            <h4 class="title">@Model.book_name details</h4>
            <p class="About">@Model.book_about</p>
        </div>
        <img src="~/Uploads/images/Books/@Model.image" alt="@Model.book_name" />

    </div>
    <div class="card-content table-responsive">
        <div>
            <p>
                <abbr>
                    <i class="glyphicon glyphicon-time"></i> <b>@String.Format("{0:ddd, dd-MMM-yyyy}", Model.Created_at)</b> tarihinde yayınlandı. &nbsp;

                </abbr>
                @if (Model.Updated_at != null)
                {
                <abbr>
                    <i class="glyphicon glyphicon-time"></i> <b>Son Güncelleme</b>:
                    @String.Format("{0:dd-MMM-yyyy}", Model.Updated_at)
                </abbr>
                }
                &nbsp;
                <abbr>
                    <i class="glyphicon glyphicon-eye-open"></i> <b> Gösterim</b> : @Html.DisplayFor(model => model.Readed)
                </abbr>
                <abbr>
                    <i class="glyphicon glyphicon-user"></i> <b>@Html.DisplayNameFor(model => model.UserId)</b>:  @Html.DisplayFor(model => model.AspNetUsers.UserName)
                </abbr>
                <abbr>
                    <i class="glyphicon glyphicon-download-alt"></i> <b>@Html.DisplayNameFor(model => model.downloaded)</b>:  @Html.DisplayFor(model => model.downloaded)
                </abbr>
            </p>
            <iframe src="~/Uploads/Books/@Model.book_path"></iframe>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>All Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.category_id)</th>
                            <td>@Html.DisplayFor(model => model.categories.category_name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.author_id)</th>
                            <td>@Html.DisplayFor(model => model.writers.author_name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.book_name)</th>
                            <td>@Html.DisplayFor(model => model.book_name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.book_about)</th>
                            <td>@Html.DisplayFor(model => model.book_about)</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <a href="~/Uploads/Books/@Model.book_path" class="btn btn-success" download="@Model.book_name" target="_blank">
                    Download <i class="glyphicon glyphicon-download"></i>
                </a>

                <div class="pull-right">
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                    <p class="label label-primary" style="font-size:16px;">
                        <i class="glyphicon glyphicon-hand-up"></i> Like : @Model.Liked
                    </p>
                    <p class="label label-danger" style="font-size:16px;"><i class="glyphicon glyphicon-hand-down"></i> disLike : @Model.disLike</p>
                    <p class="label label-warning" style="font-size:16px;"><i class="glyphicon glyphicon-star-empty"></i> Favorited : @Model.favorited</p>
                        }
                        else if (Model.Likes.Any(x => x.UserId == User.Identity.GetUserId<int>() && x.Book_id == Model.id) || Ajax.ViewBag.Liked == true)
                        {<form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="submit" value="Like  @Model.Liked" class="btn btn-primary " />
                    </form>
                    <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="submit" value="dislike @Model.disLike" class="btn btn-default" />
                    </form>
                        }
                        else
                        {
                    <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="submit" value="Like  @Model.Likes.Count()" class="btn btn-default " />
                    </form>
                    <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="submit" value="disLike  @Model.Likes.Count()" class="btn btn-default " />
                    </form>
                        }
                    }

                </div>
            </div>

        </div>
    </div>
</div>
<div class="card comments">
    <div>
        <h3>Comments</h3>
        @if (Model.comments.Count() > 0)
        {
            foreach (var comment in Model.comments)
            {
                <div class="comment">
                    <div class="comment-user-img">
                        <img class="img-circle" src="~/Uploads/images/users/images/@comment.AspNetUsers.avatar" alt="@comment.AspNetUsers.UserName" />
                        @String.Format("{0:dd-MMM yyyy }", comment.Created_at)
                    </div>
                    <div class="comment-content">
                        <abbr class="pull-right"><i class="label label-default">53 m</i></abbr>
                        <h5>@comment.AspNetUsers.UserName </h5>
                        <p>@comment.comment</p>
                    </div>
                    <div class="comment-footer">
                        <p class="label label-primary">
                            <i class="glyphicon glyphicon-hand-up "></i>:@comment.Likes.Count()
                        </p>&nbsp;
                        <p class="label label-danger">
                            <i class="glyphicon glyphicon-hand-down "></i>:<!--Dislike-->
                        </p>  &nbsp;
                        <p class="label label-success">
                            <i class="glyphicon glyphicon-repeat "></i>:<!--Replay-->
                        </p>   

                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-default" style="background-color:#eee"><p class="text-primary">No Comments</p> </div>
        }
    </div>
</div>