@model ZHYR_Library.Models.Data.books
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.book_name + " details ";
}

<div class="card pdf">
    <div class="card-header">
        <div class="header-content">
            <h4 class="title">@Model.book_name details</h4>
            <p class="About">@Model.book_about</p>
        </div>
        <img src="~/Uploads/images/Books/@Model.image" alt="@Model.book_name" />

    </div>
    <div class="card-content table-responsive">
        <div>
            <div class="pdf-detail">
                <p>
                    <abbr>
                        <i class="glyphicon glyphicon-time"></i> <b>@String.Format("{0:ddd, dd-MMM-yyyy}", Model.Created_at)</b> tarihinde yayınlandı. &nbsp;
                    </abbr>
                    @if (Model.Updated_at != null)
                    {
                    <abbr>
                        <i class="glyphicon glyphicon-time"></i> <b>Son Güncelleme</b>:
                        @String.Format("{0:dd-MMM-yyyy}", Model.Updated_at)
                    </abbr>
                    }
                    &nbsp;
                    <abbr>
                        <i class="glyphicon glyphicon-eye-open"></i> <b> Gösterim</b> : @Html.DisplayFor(model => model.Readed)
                    </abbr>
                    <abbr>
                        <i class="glyphicon glyphicon-user"></i> <b>@Html.DisplayNameFor(model => model.UserId)</b>:  @Html.DisplayFor(model => model.AspNetUsers.UserName)
                    </abbr>
                    <abbr>
                        <i class="glyphicon glyphicon-download-alt"></i> <b>@Html.DisplayNameFor(model => model.downloaded)</b>:  @Html.DisplayFor(model => model.downloaded)
                    </abbr>
                </p>
            </div>
            <iframe src="~/Uploads/Books/@Model.book_path"></iframe>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>@Model.book_name Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-success">
                            <th>@Html.DisplayNameFor(model => model.category_id)</th>
                            <th>@Html.DisplayNameFor(model => model.author_id)</th>
                            <th>@Html.DisplayNameFor(model => model.book_name)</th>
                            <th>@Html.DisplayNameFor(model => model.book_about)</th>
                            <th>@Html.DisplayNameFor(model => model.Readed)</th>
                            <th>@Html.DisplayNameFor(model => model.downloaded)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.categories.category_name)</td>
                            <td>@Html.DisplayFor(model => model.writers.author_name)</td>
                            <td>@Html.DisplayFor(model => model.book_name)</td>
                            <td>@Html.DisplayFor(model => model.book_about)</td>
                            <td>@Html.DisplayFor(model => model.Readed)</td>
                            <td>@Html.DisplayFor(model => model.downloaded)</td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <a href="~/Uploads/Books/@Model.book_path" class="btn btn-success" download="@Model.book_name" target="_blank">
                    Download <i class="glyphicon glyphicon-download"></i>
                </a>

                <div class="pull-right">
                    <div class="footer-label">
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                        <p class="label label-primary" style="font-size:16px;">
                            <i class="glyphicon glyphicon-hand-up"></i> Like : @Model.Liked
                        </p>
                        <p class="label label-danger" style="font-size:16px;"><i class="glyphicon glyphicon-hand-down"></i> disLike : @Model.disLike</p>
                        <p class="label label-warning" style="font-size:16px;"><i class="glyphicon glyphicon-star-empty"></i> Favorited : @Model.favorited</p>
                            }
                            else if (Model.Likes.Any(x => x.UserId == User.Identity.GetUserId<int>() && x.Book_id == Model.id) || Ajax.ViewBag.Liked == true)
                            {<form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="submit" value="Like  @Model.Liked" class="btn btn-primary " />
                        </form>
                        <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="submit" value="dislike @Model.disLike" class="btn btn-default" />
                        </form>
                            }
                            else
                            {
                        <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="submit" value="Like  @Model.Likes.Count()" class="btn btn-default " />
                        </form>
                        <form action="@Url.Action("Book_details","Home",new { id = Model.id })" method="post" class="pull-left">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="submit" value="disLike  @Model.Likes.Count()" class="btn btn-default " />
                        </form>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="card comments">
    <div>
        <h3>Comments</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="add-comment">
                <input type="hidden" id="book_id" value="@Model.id">
                <div id="div_AddComment">
                    <div class="input-comment input-group">
                        <input type="text" id="Addcomment" name="comment" placeholder="Comment here..." required>
                        <span class="input-group-btn">
                            <button type="submit" onclick="Addcomment()" class="btn btn-success ">
                                <span> <i class="glyphicon glyphicon-send "></i></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        }
        @if (Model.comments.Count() > 0)
        {
            <div class="comments" id="Comments">
                <div id="newCom"></div>
                <div class="add-comment">
                    @foreach (var comment in Model.comments.OrderByDescending(x=>x.Created_at))
                    {
                        <div id="div_EditComment_@comment.id" style="display:none;">
                            <div class="input-comment input-group">
                                <input type="hidden" id="comment_id" value="@comment.id">
                                <input type="text" id="edit_Comment_@comment.id"  name="comment" placeholder="@comment.comment" required>
                                <span class="input-group-btn">
                                    <button type="submit" onclick="EditComment(@comment.id)" class="btn btn-primary ">
                                        <span> <i class="glyphicon glyphicon-edit "></i></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div id="comment_@comment.id">
                            <div class="comment">
                                <div class="comment-user-img">
                                    @if (comment.AspNetUsers.avatar != null)
                                    {
                                        <img class="img-circle" src="~/Uploads/images/users/images/@comment.AspNetUsers.avatar" alt="@comment.AspNetUsers.UserName" />
                                    }
                                    else
                                    {
                                        <img class="img-circle" src="~/Content/images/Nophoto.png" alt="@comment.AspNetUsers.UserName" />
                                    }
                                    @String.Format("{0:dd-MMM yyyy }", comment.Created_at)
                                </div>
                                <div class="comment-content">
                                    <abbr class="pull-right">
                                        <a class="btn btn-xs btn-default ">
                                            <i class="glyphicon glyphicon-time"> </i> 53 m
                                        </a>
                                    </abbr>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (comment.UserId == User.Identity.GetUserId<int>())
                                        {
                                            <abbr class="pull-right">
                                                <a onclick="DeleteComment(@comment.id)" id="@comment.id" class="btn btn-xs btn-danger ">
                                                    <i class="glyphicon glyphicon-trash "></i>
                                                </a>
                                                <a onclick="ShowEditComment(@comment.id)" id="@comment.id" class="btn btn-xs btn-primary ">
                                                    <i class="glyphicon glyphicon-edit "></i>
                                                </a>
                                            </abbr>
                                        }
                                    }
                                    <h5>@comment.AspNetUsers.UserName </h5>
                                    <p id="comment_Cont_@comment.id">@comment.comment</p>
                                </div>
                                @if (comment.UserId != User.Identity.GetUserId<int>())
                                {
                                    <div class="comment-footer">
                                        <abbr class="label label-primary">
                                            <i class="glyphicon glyphicon-hand-up "></i> : @comment.Likes.Count()
                                        </abbr>&nbsp;
                                        <abbr class="label label-danger">
                                            <i class="glyphicon glyphicon-hand-down "></i> : <!--Dislike-->
                                        </abbr>  &nbsp;
                                        <abbr class="label label-success">
                                            <i class="glyphicon glyphicon-repeat "></i> : <!--Replay-->
                                        </abbr>

                                    </div>
                                }
                                else
                                {
                                    <div class="comment-footer">
                                        <abbr class=" ">
                                            <i class="glyphicon glyphicon-hand-up "></i> : @comment.Likes.Count()
                                        </abbr>&nbsp;
                                        <abbr class="">
                                            <i class="glyphicon glyphicon-hand-down "></i> : 12 <!--Dislike-->
                                        </abbr>  &nbsp;
                                        <abbr class=" ">
                                            <i class="glyphicon glyphicon-repeat "></i> : 50<!--Replay-->
                                        </abbr>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
        else
        {
            <div class="alert alert-default" style="background-color:#eee"><p class="text-primary">No Comments</p> </div>
        }
    </div>
</div>