@model IEnumerable<ZHYR_Library.Models.Data.categories>

@{
    ViewBag.Title = "categories";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="section-header text-center">
                <h3 class="section-title">@ViewBag.Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </header>
        </div>
    </div>
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card category">
                    @if (category.image == null)
                    {
                        <a href="/Home/Category_Books/@category.id">
                            <img src="~/Content/images/Nophoto.png" alt="@category.category_name" />
                        </a>
                    }
                    else
                    {
                        <a href="/Home/Category_Books/@category.id">
                            <img src="~/Uploads/images/categories/@category.image" alt="@category.category_name" />
                        </a>
                    }
                    <div class="card-content">
                        <div class="title">
                            <a href="/Home/Category_Books/@category.id">@category.category_name</a>
                        </div>
                        <p> @category.category_about</p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled">
                            <li style="font-size:15px;">
                                <a href="@Url.Action("CPosts","Home",new {id=category.id })" class="btn  btn-sm btn-info">
                                    @category.Posts.Count
                                <i class="glyphicon glyphicon-paperclip "> </i> Posts
                            </a>
                            <a href="@Url.Action("Category_books","Home",new {id=category.id })" class="btn  btn-sm btn-primary">
                                @category.books.Count <i class="glyphicon glyphicon-book "> </i> Books
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        }
</div></div>