@model IEnumerable<ZHYR_Library.Models.Data.writers>

@{
    ViewBag.Title = "Writers";
}

<h2>Writers</h2>
<ul class="writers">
    @foreach (var Writer in Model)
            {
        <li class="card writer" >
            @if (Writer.image == null)
            {
                <a href="/Home/Writer_Books/@Writer.id" >
                    <img  class="img-circle"  src="~/Content/images/Nophoto.png" alt="@Writer.author_name" />
                </a>  
            }
            else
            {
                <a href="/Home/Writer_Books/@Writer.id">
                    <img  src="~/Uploads/images/writers/@Writer.image" alt="@Writer.author_name" />
                </a>
            }

            <div class="card-content">
                <div class="title">
                    <a href="/Home/Writer_Books/@Writer.id">@Writer.author_name</a>
                    <p> @Writer.author_about</p>
                </div>  
            </div>
            <div class="card-footer">
                <ul class="list-unstyled">
                    <li >
                        <p class="label label-success">
                            <i class="glyphicon glyphicon-book "></i>  @Writer.books.Count()
                        </p>   &nbsp;
                        <p class="label label-danger" style="font-size:13px;">
                            <i class="glyphicon glyphicon-download "></i>
                        </p>  &nbsp;

                    </li>
                </ul>
            </div>
        </li>
    }
</ul>
<div style="clear:both;"></div><br />
